body {
    background: rgb(18,21,88);
    background: linear-gradient(90deg, rgba(18,21,88,1) 19%, rgba(16,26,62,1) 35%, rgba(8,9,30,1) 82%);
    color: #ffffff;
}

.nav {
    box-sizing: border-box;
    width: 100%;
    position: relative;
}
.nav-bg {
    position: absolute;
    width: 100%;
    height: 200%;
    top: -10px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: -2;
}

.nav__item {
    padding: 10px 35px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-color: transparent;
    z-index: 2;
}
.nav__item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.active {
    border-image-source: linear-gradient(90deg, rgba(177,90,199,1) 24%, rgba(209,88,153,1) 47%, rgba(226,108,140,1) 66%, rgba(243,163,152,1) 89%);
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.main-form {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.main-form form {
    width: 90%;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.item {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    position: relative;
    margin: 10px;
}

.box-player {
    display: flex;
    height: auto;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.player-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 56%;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-delete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-reload {
    width: 50%;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    font-size: 20px;
    padding: 3px 7px;
    margin-bottom: 10px;
}
.input--area {
    height: 100%;
}

.btn {
    width: 100%;
    height: 35px;
    background-color: #7A4495;
    color: #fff;
    font-size: 20px;
}